.form {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 2px 7px #000;
    width: 566px;
    height: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 70px 0;
}

.login-btn {
    width: 30%;
    height: 50px;
    background: linear-gradient(90deg, #FF9146 0%, #FF351B 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin: 50px 0 10px 0;
    cursor: pointer;
}

.login-btn:hover {
    box-shadow: 0 0 5px #000;
}

.login-btn:focus {
    outline: none;
}

.additional {
    color: #808080;
    font-size: 14px;
    margin: 10px 0;
}

.additional.forgot a {
    color: #808080;
}

.additional.register a {
    color: #4285F4;
}

@media (max-width: 1300px) {
    .form {
        width: 488px;
    }
}

@media (max-width: 900px) {
    .form {
        width: 547px;
        top: 50%;
        right: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 700px) {
    .form {
        width: 90%;
    }

    .login-btn {
        width: 50%;
    }
}